In [54]:
"Crear lista para números primos"
Lista_primos = []

In [148]:
"Definición de la función primo"
def is_prime(y):
  for x in range(2,y):
    if y%x == 0:
      result = False
      break
  if y == x + 1:
      result = True 
  return result
is_prime(5)

True

In [ ]:
"funcion primos"
contador = 0
last_prime = 1
next_number = last_prime + 1
print (2)

while contador<74:
  next_number = next_number + 1

  if is_prime (next_number):

    contador = contador + 1
    last_prime = next_number
    print (last_prime)

In [156]:
"Crear lista de primos primos"
Lista_primos.append(last_prime)

In [157]:
from numpy import linspace
from pandas import DataFrame 
import pandas as pd

Conjetura = pd.DataFrame()
Conjetura["Primos"] = Lista_primos
print (Conjetura)

     Primos
0         1
1         2
2         3
3         5
4         7
..      ...
338     367
339     373
340     379
341     367
342       1

[343 rows x 1 columns]

In [152]:
"Producto de sus dígitos"

from pandas import DataFrame 
import pandas as pd
Lista_producto = []
producto = 1
for numero in Lista_primos:
  while numero != 0:
    digito = numero % 10
    producto = producto*digito
    numero //= 10
  Lista_producto.append(producto)
  producto = 1

Conjetura['Producto']= Lista_producto
print (Conjetura)

     Primos  Producto
0         1         1
1         2         2
2         3         3
3         5         5
4         7         7
..      ...       ...
337     359       135
338     367       126
339     373        63
340     379       189
341     367       126

[342 rows x 2 columns]

In [153]:
"Obtener el espejo del número primo"
import pandas as pd

lista_espejo = []
reverso = 0
for n in Lista_primos:
  while n!=0:
    cifra = n%10
    reverso = reverso *10 + cifra
    n = n//10
  lista_espejo.append(reverso)
  reverso = 0

Conjetura["Espejo"] = lista_espejo

print(Conjetura)

     Primos  Producto  Espejo
0         1         1       1
1         2         2       2
2         3         3       3
3         5         5       5
4         7         7       7
..      ...       ...     ...
337     359       135     953
338     367       126     763
339     373        63     373
340     379       189     973
341     367       126     763

[342 rows x 3 columns]